.button {
  display: block;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  color: $white;
  background-color: $blue;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &--search {
    padding: 14px 20px 18px;
  }

  &--form {
    padding: 18px 34px 14px;

    @media (max-width: $mobile-only) {
      width: 100%;
    }

    @media (min-width: $tablet-width) {
      width: 324px;
    }

    @media (min-width: $desktop-width) {
      width: 384px;
    }
  }

  &--modal {
    padding: 18px 64px;
    font-size: 18px;
    line-height: 26px;
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    color: $white-opacity;
    background-color: $blue-dark;
  }

  &:disabled {
    background-color: $grey-second;
    cursor: auto;
  }

  // Disabled button styleguide
  &--disabled {
    background-color: $grey-second;
    cursor: auto;

    &:hover {
      background-color: $grey-second;
    }
  }
}
