.fact {
  position: relative;

  &--row {
    @media (min-width: $tablet-width) {
      display: flex;
      width: 100%;
    }
  }

  &--reversed {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
    }
  }
}

.fact__card {
  padding: 40px 20px 35px;
  height: 100%;
  background-color: $grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 40px 32px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }

  &--padding-size-l {
    padding-bottom: 62px;
  }

  &--masked {
    padding-top: 70px;

    @media (min-width: $tablet-width) {
      padding-top: 40px;
    }

    &::before {
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 37px;
      position: absolute;
      background-image: url("../img/features/mask-after.png");
      background-size: 100% auto;
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--light {
    color: $white;
    background-color: $blue;
  }

  &--line {
    border-bottom: 1px solid $grey-border;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.fact__text {
  @media (min-width: $tablet-width) {
    max-width: 192px;
    margin: 0 auto;
  }
}

.fact__title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    max-width: 128px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
}

.fact__number {
  display: block;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  &::before {
    content: "— ";
  }

  &::after {
    content: " —";
  }
}

.fact__image {
  display: block;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}
