.features__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  @media (min-width: $tablet-width) {
    flex-basis: 33.33%;
  }
}

.features__title {
  margin-bottom: 32px;
}

.features__text {
  padding: 32px 20px 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 48px 120px 56px;
  }
}
