.feedback__text {
  padding: 36px 12px 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 460px;
    padding: 64px 12px 80px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 116px;
    padding-bottom: 48px;
  }
}

.feedback__title {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 26px;
  }
}

.feedback__form {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}
