.feedback__text {
  max-width: 295px;
  padding: 36px 0 28px;
  margin: 0 auto;
  text-align: center;
}

.feedback__title {
  margin: 0;
  margin-bottom: 24px;
}

.feedback__description {
  margin: 0;
}

.feedback__form {
  margin-bottom: 24px;
}
