.footer {
  padding: 38px 20px 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 118px;
  }
}

.footer__hashtag {
  display: block;
  margin-bottom: 34px;
  color: $black;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social-list {
  @include list-reset;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $grey-active;
  }
}

.footer__logo-icon {
  fill: currentColor;
}

.footer__logo-text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
