.form__textarea-wrap {
  padding: 24px 20px 56px;
  text-align: center;
}

.form__button-wrap {
  margin: 0 auto;
  max-width: 280px;
}

.form__required-text {
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  color: $grey-subtext;
  text-align: right;
  text-transform: uppercase;
}
