.gallery__text {
  padding: 30px 12px 18px;
  text-align: center;
}

.gallery__title {
  margin-bottom: 24px;
}

.gallery__description {
  margin-bottom: 20px;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__video {
  border-top: 1px solid $grey-second;
}
