.group {
  position: relative;
  padding: 24px 0 38px;
  border-top: 1px solid $grey-second;

  @media (max-width: $mobile-only) {
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;

    &--padding_s {
      padding: 24px 20px 22px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 24px 0 20px;
    border: none;

    &--padding_s {
      padding: 40px 20px 13px;
    }

    &--lined {
      &::before {
        content: "";
        position: absolute;
        top: 28px;
        right: -42px;
        border-left: 1px solid $grey-border;
        height: 338px;

        @media (min-width: $tablet-width) {
          right: -56px;
        }
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--padding_s {
      padding: 28px 0;
    }
  }
}

.group__legend {
  position: relative;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.group__list {
  @include list-reset;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &--experience {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 12px;
      padding: 0 12px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 54px 18px;
      column-gap: 38px;
    }
  }

  &--visited {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 34px;
      padding: 0 64px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 32px 45px;
      column-gap: 28px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      max-width: 402px;
      margin-left: 34px;
    }
  }
}
