.group {
  padding: 24px 0 40px;
  border-top: 1px solid $grey-second;
}

.group__legend {
  margin-bottom: 20px;
  text-align: center;
}

.group__list {
  @include list-reset;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &--experience {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 36px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--visited {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 84px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
