.navigation {
  width: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
  }
}

.navigation__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    z-index: 0;
    grid-auto-flow: dense;

    &::before {
      content: "";
      display: block;
      grid-column: 3 / 4;
    }
  }
}

.navigation__link {
  font-family: inherit;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
  padding: 15px 40px;
  background-color: $blue;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 100%;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 21px;
    color: $black;
    background-color: $white;
  }

  &:hover {
    background-color: $blue-hover;

    @media (min-width: $tablet-width) {
      color: $blue;
      background-color: transparent;
    }
  }

  &:active {
    color: $white-opacity;
    background-color: $blue-dark;
  }
}

.navigation__toggle {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  width: 66px;
  height: 56px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__toggle-dash {
  position: absolute;
  display: block;
  width: 23px;
  height: 4px;
  background-color: $blue;
}

.navigation__toggle-dash::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: $blue;
}

.navigation__toggle-dash::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: $blue;
}

.navigation__toggle:hover {
  .navigation__toggle-dash {
    background-color: $blue-opacity;
  }

  .navigation__toggle-dash::before {
    background-color: $blue-opacity;
  }

  .navigation__toggle-dash::after {
    background-color: $blue-opacity;
  }
}

.navigation__toggle:active {
  .navigation__toggle-dash {
    background-color: $blue-opacity-light;
  }

  .navigation__toggle-dash::before {
    background-color: $blue-opacity-light;
  }

  .navigation__toggle-dash::after {
    background-color: $blue-opacity-light;
  }
}
