.subfact__text {
  position: relative;
  padding-left: 48px;
  max-width: 298px;
  margin: 0 auto;

  &--home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/subfact/home-icon.svg");
    background-repeat: no-repeat;
  }

  &--food::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/subfact/food-icon.svg");
    background-repeat: no-repeat;
  }

  &--souvenir::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/subfact/souvenir-icon.svg");
    background-repeat: no-repeat;
  }
}

.subfact__title {
  margin: 0;
  margin-bottom: 16px;
}

.subfact__description {
  margin: 0;
}
