.title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;

  &--light {
    color: $white;
  }

  @media (min-width: $tablet-width) {
    &--lined {
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        border-top: 1px solid $grey-border;
        width: 100%;
      }
    }
  }
}
