.description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: $light-black;
  text-transform: uppercase;
}

.description--light {
  color: $white;
}
