.gallery__text {
  max-width: 295px;
  padding: 30px 0 18px;
  margin: 0 auto;
  text-align: center;
}

.gallery__title {
  margin: 0;
  margin-bottom: 24px;
}

.gallery__description {
  margin: 0;
  margin-bottom: 20px;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__video {
  border-top: 1px solid $grey-border-second;
}

.gallery__video-player {
  text-align: center;
}
