$blue: #81b3d2;
$blue-hover: #669ec0;
$white: #ffffff;
$black: #000000;
$light-black: #333333;
$grey: #eeeeee;
$grey-opac: #0000004d;
$grey-dark: #e6e6e6;
$grey-border: #d6d6d6;
$grey-border-second: #e5e5e5e5;
$grey-bg: #f2f2f2;
$grey-subtext: #33333399;
